@model IEnumerable<AlphaServer.Models.Product>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Components.Web

@{
    Layout = "_ViewImports";
}
@if (Model.Count()>0)
{
    

<form method="post">
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container row">
            <div class="col-8">
                <div class="card mt-3">
                    <div class="card-header bg-dark text-light ms-0 row container">
                        <div class="col-6">
                            <i class="bi bi-cart4"></i>
                            Корзина покупок
                        </div>
                        <div class="col-6 text-md-end">
                            <a href="Home/Index" class="btn btn-outline-info btn-sm">Продолжить покупки</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-none d-lg-block">
                            <div class="row" style="color:#821f3d">
                                <div class="col-lg-2">
                                </div>
                                <div class="col-12 col-lg-7">
                                    Описание
                                </div>
                                <div class="col-12 col-lg-2">
                                    Цена
                                </div>
                                <div class="col-6 col-sm-4 col-lg-1">
                                </div>
                            </div>
                        </div>

                        <hr />
                        @foreach (var obj in Model)
                        {                           
                        
                        <div class="row h-100">
                            <div class="col-4 col-md-2 text-center py-2">
                                <img src="@AlphaServer.WC.ImagePath@obj.Image" width="100" class="rounded-sm" />
                            </div>
                            <div class="col-8 col-lg-7">
                                <h5>@obj.Name</h5>
                                <div style="font-size:11px;">@obj.ShortDesc</div>
                            </div>
                            <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                <span style="font-size:17px;"> @obj.Price RUB</span>

                            </div>
                            <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                <a asp-action="Remove" asp-route-id="@obj.Id" class="btn-outline-danger">
                                        <i class="bi bi-trash3-fill"></i>
                                </a>
                            </div>
                        </div>
                        <hr />
                        }
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6 col-md-3 offset-md-9">
                                <button type="submit" class="btn btn-success form-control ">
                                    <span>Продолжить</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
}
else {
    <p>Добавьте товары в корзину</p>
}